<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logLevelPattern">
            %level{VERBOSE=INFO}
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{[HH:mm:ss]} ${logLevelPattern} %t - %msg%n"/>
        </Console>
        <File name="TestLog" fileName="logs/test.log">
            <PatternLayout pattern="%d{[yyyy-MM-dd][HH:mm:ss,SSS]} [%level] %t - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="StandardLogger" level="verbose" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestLog"/>
        </Logger>
        <Logger name="DebugLogger" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestLog"/>
        </Logger>
        <Root level="debug"/>
    </Loggers>
</Configuration>