# Default ignored files
/shelf/
/workspace.xml

# Dictionaries
/dictionaries/*
!dictionaries/project.xml

# Other files
/libraries/
/modules/
/logs/
/modules.xml
/gradle.xml
/discord.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
/codeStyles/codeStyleConfig.xml
/saveactions_settings.xml
