on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level (info or debug)'
        required: true
        default: 'info'
  push:
    branches:
      - 'release/**'        # Release branches
      - 'hotfix/**'         # Hotfix branches
      - master              # Main project branch
  pull_request:

# Quality Assurance
name: Java QA

jobs:
  check:
    name: Check compliance
    runs-on: ubuntu-latest
    steps:
      # Checkout repository
      - uses: actions/checkout@v2
      # Include gems in check
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
      # Setup Java environment
      - name: Setup JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      # Run FOSSA scan and upload build data
      - name: Check license compliance
        uses: fossa-contrib/fossa-action@v1
        with:
          fossa-api-key: ${{ secrets.FOSSA_API_KEY }}
      # Check if code is spotless
      - name: Check code format compliance
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: spotlessJavaCheck -PmakeSpotless=true -s
